* {
  box-sizing: border-box;
}
body {
  position: relative;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: hsl(257, 40%, 49%);
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
}
h1 {
  font-size: 2.5rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
header {
  padding: 1.25rem 0 2.5rem 3.125rem;
}
main {
  display: flex;
  flex-direction: column;
}
footer {
  font-family: "Open Sans", sans-serif;
}
.container {
  margin-top: 1.25rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding-top: 0.625rem;
}

.illustration {
  padding: 20px 0 30px 50px;
}
.description {
  padding: 0.688rem;
  margin-right: 1.25rem;
  color: #ffffff;
  font-weight: 600;
}
.description p {
  font-size: 1.094rem;
  line-height: 1.5;
}
.socials {
  display: flex;
  justify-content: flex-end;
  padding-left: 0.625rem;
  gap: 1rem;
  margin-right: 1.875rem;
}
.socials div {
  display: inline-block;
  padding: 0.188rem 0.5rem;
  border-radius: 50%;
  border: 0.063rem solid #fff;
  color: #fff;
  text-align: center;
}
button {
  border: none;
  display: inline-block;
  border-radius: 2.5rem;
  text-align: center;
  cursor: pointer;
  padding: 0.688rem 3.75rem;
  font-size: 0.938rem;
  color: hsl(257, 35%, 47%);
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}
button:hover {
  background-color: hsl(300, 69%, 71%);
  color: #ffffff;
  cursor: pointer;
}
@media (max-width: 600px) {
  body {
    background-size: cover;
  }

  .container {
    display: block;
    margin: 0 auto;
  }
  .container img {
    width: 90%;
  }
  .description {
    text-align: center;
    padding: 0 1.875rem;
  }
  .description p {
    padding: 0 1.25rem 2.5rem 1.25rem;
  }

  .socials {
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 0.625rem;
  }
}
